<!DOCTYPE html>
<html lang="en">
	<head>
    <meta charset="utf-8">
    <meta name="description" content="a javascript-only lightbox for the Slack front end challenge">
		
		<title>Lightweight Lightbox for Slack</title>

		<!-- load style sheets -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">

	</head>
<body>

	<header>
		<h1>Lightbox</h1>
	</header>

	<section>
		<article id="thumbnail-grid">
			<!-- load thumbnails from API here -->
			<% photos.forEach(function (photo) { %>
				<% var photoUrl = "https://farm" + photo.farm; %>
				<% photoUrl += ".staticflickr.com/" + photo.server; %>
				<% photoUrl += "/" + photo.id; %>
				<% photoUrl += "_" + photo.secret + ".jpg"; %>
				<img src="<%= photoUrl %>" alt="<%= photo.title %>" class="thumbnail">
			<% }); %>

		</article>

		<article id="viewer">
			<!-- when thumbnails is clicked, show a large version here -->
			<!-- with the ability to move to the next / previous photos and display the photo title -->
		</article>
	</section>

	<footer>
		<a href="http://lisavogtsf.github.io/">by Lisa Vogt, http://lisavogtsf.github.io/</a>
	</footer>

</body>
</html>

