@import url(https://fonts.googleapis.com/css?family=Telex);
body {
  background-color: #000000;
  min-height: 100%;
  margin: 0;
  font-family: 'Telex', sans-serif;
  color: #DDDDDD;
  text-align: center;
}
#main {
  display: block;
  background-color: #000000;
  margin: 0 auto;
  padding: 10px;
}
#main.hide {
  display: none;
}
#main #thumbnail-frame {
  z-index: 0;
  margin: 0 10% 10px;
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  flex-wrap: wrap;
}
#main #thumbnail-frame .thumbnail {
  position: relative;
  width: 16%;
  margin: 2%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #101010;
}
#main #thumbnail-frame .thumbnail:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 100%;
}
#main #thumbnail-frame .thumbnail > .thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#main #thumbnail-frame footer {
  margin: 20px auto 5px;
}
#lightbox {
  display: block;
  table-layout: fixed;
  background-color: #000000;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}
#lightbox.hide {
  display: none;
}
#lightbox #viewer-frame {
  z-index: 1;
  display: block;
  height: 80%;
  width: 90%;
  position: relative;
  text-align: center;
  vertical-align: middle;
  margin: 5%;
}
#lightbox #viewer-frame #viewer {
  display: block;
  background-color: #101010;
  position: relative;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
#lightbox #viewer-frame #close {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}
#lightbox #viewer-frame nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  bottom: 0;
}
#lightbox #viewer-frame nav h2 {
  font-size: 1em;
  font-weight: bolder;
}
#lightbox #viewer-frame button#close,
#lightbox #viewer-frame button#previous,
#lightbox #viewer-frame button#next {
  z-index: 2;
  font-weight: bold;
  font-size: 1em;
  background-color: #101010;
  color: #DDDDDD;
  vertical-align: middle;
  border: none;
  padding: 1em;
}
/*****************/
/*    mixins    */
/*****************/
/*****************/
/* media queries */
/*****************/
@media screen and (min-width: 1440px) {
  #main #thumbnail-frame {
    margin: 0 7% 10px;
  }
  #main #thumbnail-frame .thumbnail {
    width: 150px;
    margin: 1%;
  }
  #main #viewer-frame {
    margin: 0 7% 10px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1440px) {
  #main #thumbnail-frame {
    margin: 0 7% 10px;
  }
  #main #thumbnail-frame .thumbnail {
    width: 11%;
    margin: 1%;
  }
  #main #viewer-frame {
    margin: 0 7% 10px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  #main #thumbnail-frame {
    margin: 0 10% 10px;
  }
  #main #thumbnail-frame .thumbnail {
    width: 16%;
    margin: 2%;
  }
  #main #thumbnail-frame #viewer-frame {
    margin: 0 7% 10px;
  }
}
@media screen and (min-width: 480px) and (max-width: 600px) {
  #main #thumbnail-frame {
    margin: 0 7% 10px;
  }
  #main #thumbnail-frame .thumbnail {
    width: 29%;
    margin: 2%;
  }
  #main #viewer-frame {
    margin: 0 7% 10px;
  }
  #lightbox #viewer-frame {
    margin: 2% 5%;
    height: 76%;
  }
  #lightbox #viewer-frame #close {
    position: relative;
  }
  #lightbox #viewer-frame nav {
    position: relative;
  }
  #lightbox #viewer-frame button#close,
  #lightbox #viewer-frame button#previous,
  #lightbox #viewer-frame button#next {
    background-color: #000000;
  }
}
@media screen and (max-width: 480px) {
  #main #thumbnail-frame {
    margin: 0 5% 10px;
  }
  #main #thumbnail-frame .thumbnail {
    width: 40%;
    margin: 5%;
  }
  #lightbox #viewer-frame {
    margin: 2% 5%;
    height: 76%;
  }
  #lightbox #viewer-frame #close {
    position: relative;
  }
  #lightbox #viewer-frame nav {
    position: relative;
  }
  #lightbox #viewer-frame button#close,
  #lightbox #viewer-frame button#previous,
  #lightbox #viewer-frame button#next {
    background-color: #000000;
  }
}
@media screen and (max-height: 600px) {
  #lightbox #viewer-frame {
    margin: 2% 5%;
    height: 76%;
  }
  #lightbox #viewer-frame #close {
    position: relative;
  }
  #lightbox #viewer-frame nav {
    position: relative;
  }
  #lightbox #viewer-frame button#close,
  #lightbox #viewer-frame button#previous,
  #lightbox #viewer-frame button#next {
    background-color: #000000;
  }
}
@media screen and (max-height: 480px) {
  #lightbox #viewer-frame {
    margin: 2% 5%;
    height: 65%;
  }
  #lightbox #viewer-frame #close {
    position: relative;
  }
  #lightbox #viewer-frame nav {
    position: relative;
  }
  #lightbox #viewer-frame button#close,
  #lightbox #viewer-frame button#previous,
  #lightbox #viewer-frame button#next {
    background-color: #000000;
  }
}

/*# sourceMappingURL=style.css.map */