@primaryBackgroundColor: #000000;
@frameColor: #101010;

@import url(https://fonts.googleapis.com/css?family=Telex);

body {
	background-color: @primaryBackgroundColor;
	margin: 0 auto;
	padding: 10px;
	font-family: 'Telex', sans-serif;
	color: ivory;
	text-align: center;
}

#thumbnail-frame {
	z-index: 0;
	margin: 0 10% 10px;
	display: flex;
	justify-content: space-around;
	align-content: space-around;
	flex-wrap: wrap;

	.thumbnail {
		.aspect-ratio(1, 1);
		width: 16%;
		margin: 2%;
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: center;
		background-color: @frameColor;
	}
}

#viewer-frame {
	&.hide {
		display: none;
	}
	display: block;
	z-index: 1;
	margin: 0 10% 10px;
	background-color: @frameColor;
	position: absolute;

	#viewer {
		background-color: @frameColor;
		position: relative;
		height: 100%;
		background-repeat: no-repeat;
		background-position: center;
		padding: 2%;
		margin: 5% auto;
	}
}


footer {
	margin: 20px auto 5px;
}

// aspect ratio mixin
.aspect-ratio(@width, @height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: (@height / @width) * 100%;
  }
  > .thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}


// media queries

// max thumbnail size, as many as fit
@media screen 
	and (min-width: 1440px) {
	
	#thumbnail-frame {
		margin: 0 7% 10px;	
		.thumbnail {
			width: 150px;
			margin: 1%;
		}
	}	

	#viewer-frame {
		margin: 0 7% 10px;
	}
}

// seven thumbnails across
@media screen 
	and (min-width: 1024px)
	and (max-width: 1440px) {
	
	#thumbnail-frame {
		margin: 0 7% 10px;	
		.thumbnail {
			width: 11%;
			margin: 1%;
		}
	}	

	#viewer-frame {
		margin: 0 7% 10px;
	}
}

// standard is five thumbnails across 600-1024
/*	#thumbnail-frame {
		margin: 0 10% 10px;
		.thumbnail {
			width: 16%;
			margin: 2%;
		}

		#viewer-frame {
			margin: 0 7% 10px;
		}
	}*/

// three thumbnails across
@media screen 
	and (min-width: 480px)
	and (max-width: 600px) {
	
	#thumbnail-frame {
		margin: 0 7% 10px;	
		.thumbnail {
			width: 29%;
			margin: 2%;
		}
	}

	#viewer-frame {
		margin: 0 7% 10px;
	}
}

// two thumbnails across
@media screen 
	and (max-width: 480px) {
	
	#thumbnail-frame {
		margin: 0 5% 10px;	
		.thumbnail {
			width: 40%;
			margin: 5%;
		}
	}

	#viewer-frame {
		margin: 0 5% 10px;
	}
}
