@frameColor: #101010;

@import url(https://fonts.googleapis.com/css?family=Telex);

body {
	background-color: black;
	margin: 0 auto;
	padding: 10px;
	font-family: 'Telex', sans-serif;
	color: ivory;
	text-align: center;
}

header {

}

#thumbnail-grid {
	margin: 0 10% 10px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	.thumbnail {
		.aspect-ratio(1, 1);
		width: 15%;
		margin: 5px;
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: center;
		background-color: @frameColor;
		border: @frameColor 5px solid;
	}
}


// aspect ratio mixin
.aspect-ratio(@width, @height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: (@height / @width) * 100%;
  }
  > .thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
