@primaryBackgroundColor: #000000;
@frameColor: #101010;
@accentColor: #DDDDDD;

@import url(https://fonts.googleapis.com/css?family=Telex);

body {
	background-color: @primaryBackgroundColor;
	min-height: 100%;
	margin: 0;
	font-family: 'Telex', sans-serif;
	color: @accentColor;
	text-align: center;
}

#main {
	&.hide {
		display: none;
	}
	display: block;
	background-color: @primaryBackgroundColor;
	margin: 0 auto;
	padding: 10px;
	
	#thumbnail-frame {
		z-index: 0;
		margin: 0 10% 10px;
		display: flex;
		justify-content: space-around;
		align-content: space-around;
		flex-wrap: wrap;

		.thumbnail {
			.aspect-ratio(1, 1);
			width: 16%;
			margin: 2%;
			background-size: 100%;
			background-repeat: no-repeat;
			background-position: center;
			background-color: @frameColor;
		}

		footer {
			margin: 20px auto 5px;
		}
	}
}


#lightbox {
	&.hide {
		display: none;
	}
	display: block;
	table-layout: fixed;
	background-color: @primaryBackgroundColor;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;

	#viewer-frame {
		z-index: 1;
		display: block;
		height: 80%;
		width: 90%;
		position: relative;
		text-align: center;
		vertical-align: middle;
		margin: 5%;

		#viewer {
			display: block;
			background-color: @frameColor;
			position: relative;
			height: 100%;
			background-repeat: no-repeat;
			background-position: center;
		}

		#close {
			display: block;
			position: absolute;
			left: 0;
			top: 0;
		}

		nav {
			display: flex;
			justify-content: space-between;
			width: 100%;
			position: absolute;
			bottom: 0;
			h2 {
				font-size: 1em;
				font-weight: bolder;
			}
		}

		button {			
			&#close,
			&#previous,
			&#next {
				z-index: 2;
				font-weight: bold;
				font-size: 1em;
				background-color: @frameColor;
				color: @accentColor;
				vertical-align: middle;
				border: none;
				padding: 1em;
			}
		}
	}
	
}


/*****************/
/*    mixins    */
/*****************/

// aspect ratio mixin
.aspect-ratio(@width, @height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: (@height / @width) * 100%;
  }
  > .thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

/*****************/
/* media queries */
/*****************/

// max thumbnail size, as many as fit
@media screen 
	and (min-width: 1440px) {
	
	#main {
		#thumbnail-frame {
			margin: 0 7% 10px;	
			.thumbnail {
				width: 150px;
				margin: 1%;
			}
		}	

		#viewer-frame {
			margin: 0 7% 10px;
		}
	}
}

// seven thumbnails across
@media screen 
	and (min-width: 1024px)
	and (max-width: 1440px) {
	
	#main {
		#thumbnail-frame {
			margin: 0 7% 10px;	
			.thumbnail {
				width: 11%;
				margin: 1%;
			}
		}	

		#viewer-frame {
			margin: 0 7% 10px;
		}
	}
}

// standard is five thumbnails across 600-1024
@media screen 
	and (min-width: 600px)
	and (max-width: 1024px) {

	#main {
		#thumbnail-frame {
			margin: 0 10% 10px;
			.thumbnail {
				width: 16%;
				margin: 2%;
			}

			#viewer-frame {
				margin: 0 7% 10px;
			}
		}
	}
} 

// three thumbnails across and flip buttons out
@media screen 
	and (min-width: 480px)
	and (max-width: 600px) {
	
	#main {
		#thumbnail-frame {
			margin: 0 7% 10px;	
			.thumbnail {
				width: 29%;
				margin: 2%;
			}
		}

		#viewer-frame {
			margin: 0 7% 10px;
		}
	}

	#lightbox {
		#viewer-frame {
			margin: 2% 5%;
			height: 76%;
			
			#close {
				position: relative;
			}

			nav {
				position: relative;
			}
			
			button {
				&#close,
				&#previous,
				&#next {
					background-color: @primaryBackgroundColor;
				}
			}
		}
	}
}

// two thumbnails across and flip buttons out
@media screen 
	and (max-width: 480px) {
	
	#main {
		#thumbnail-frame {
			margin: 0 5% 10px;	
			.thumbnail {
				width: 40%;
				margin: 5%;
			}
		}
	}

	#lightbox {
		#viewer-frame {
			margin: 2% 5%;
			height: 76%;

			#close {
				position: relative;
			}

			nav {
				position: relative;
			}
			
			button {
				&#close,
				&#previous,
				&#next {
					background-color: @primaryBackgroundColor;
				}
			}
		}
	}
}

// flip buttons out for short screens
@media screen 
	and (max-height: 600px) {

	#lightbox {
		#viewer-frame {
			margin: 2% 5%;
			height: 76%;

			#close {
				position: relative;
			}

			nav {
				position: relative;
			}
			
			button {
				&#close,
				&#previous,
				&#next {
					background-color: @primaryBackgroundColor;
				}
			}
		}
	}
}

// flip buttons out for super short/landscape screens
@media screen 
	and (max-height: 480px) {

	#lightbox {
		#viewer-frame {
			margin: 2% 5%;
			height: 65%;

			#close {
				position: relative;
			}

			nav {
				position: relative;
			}
			
			button {
				&#close,
				&#previous,
				&#next {
					background-color: @primaryBackgroundColor;
				}
			}
		}
	}
}